.container-comarcas {
  background-color: #D5D6D8;
}

.area-comarcas {
  .area {
    fill: #213835;
  }
  .axis {
    text {
      font-family: var(--text);
      font-size: 13px;
    }
    .domain {
      stroke: none;
    }
  }
  .axis-y {
    line {
      stroke-dasharray: 3px;
    }
  }
}

.grid-chart-container {
  font-size: 0;
  margin: 1rem 0;
}

.grid-chart {
  vertical-align: top;
  width: 100%;
  display: inline-block;
}

.title-m {
  font-size: 1.25rem;
  margin: 0;
}

.comparador {
  background-color: #e9ecc3;
  .ss-single-selected,
  .ss-main .ss-content {
    margin-left: 0 !important;
  }
  header {
    position: relative;
    z-index: 100;
  }
}

.container-comparador {
  color: #381652;
  .section-text {
    margin: 0;
    padding-top: 0;
  }
  .subtittle {
    margin-bottom: 1.25rem;
  }
  .ss-single-selected {
    background-color: #f1f1f1 !important;
  }
  .grid-chart-diferencia {
    padding: 1rem;
    border-left: 5px solid #381652;
    background-color: #f1f1f1;
    font-size: 16px;
    width: max-content;
    margin: 1rem 0;
    box-shadow: var(--shadow);
    .diferencia-habitantes {
      margin: 0;
    }
    .numero-diferencia {
      font-weight: bold;
    }
  }
}

.habitantes {
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  svg {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
  .numero-habitantes {
    font-weight: bold;
  }
}

@media only screen and (min-width: 64em) {

  .grid-chart {
    width: 50%;
  }
}
