.header {
    width: 100%;
    background-color: var(--background);
    .container-chart {
        padding-top: 0;
    }
}

.header-container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.header-title {
    font-size: 3rem;
    font-family: var(--title);
    color: var(--black);
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    .letter {
      display: inline-block;
      line-height: 1em;
    }
}

.header-ronda {
    width: max-content;
    margin: 1rem auto;
    position: relative;
    padding: 1rem;
    max-width: 30rem;
    &:after,
    &:before {
        content: '';
        display: inline-block;
        background-image: url('../img/music-light.svg');
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: .5rem;
        left: -.5rem;
        font-size: 6rem;
        font-family: 'Arial';
    }
    &:before {
        top: 75%;
        left: 97%;
    }
}
.header-ronda-text {
    font-size: 14px;
    display: block;
    font-family: var(--title);
}

.text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

@media only screen and (min-width: 48rem) {

    .header-title {
        font-size: 4rem;
    }

}
