
/* src/styles/global.css */
@import '_variables.css';
@import 'components/header.css';
@import 'components/section.css';
@import 'components/chart.css';
@import 'components/footer.css';
@import 'components/proyectos.css';
@import 'components/metodology.css';
@import 'components/provincias.css';

body {
  margin: 0;
  line-height: 1.4;
  color: var(--black);
  font-family: var(--text);
}

.container {
  font-size: 0;
}

.container-bgc {
  background-color: var(--bgc-teruel);
}

.container-chart,
.container-desert {
  width: 100%;
  margin: 0 auto;
  padding: 1rem .5rem;
}

@media only screen and (min-width: 48rem) {
  .container-chart {
    max-width: 60rem;
    padding: 3rem .5rem;
  }

  .container-desert {
    max-width: 65rem;
    padding: 3rem 0;
  }
}
