.title {
    font-size: 2rem;
    margin-top: 0;
    font-family: var(--title);
}

.subtittle {
    font-size: 1.5rem;
    margin-top: 0;
    font-family: var(--title);
    margin-bottom: .5rem;
}

.text {
    font-size: 1rem;
    font-family: var(--text);
}

.line-chart {
    text {
        font-family: var(--text);
        font-size: 14px;
    }
    .line {
        fill: none;
        stroke-width: 3;
        stroke: #b60b46;
    }
    .axis-y {
        .domain {
            stroke: none;
        }
        line {
            stroke-dasharray: 3px;
        }
    }
}
