.title {
    font-size: 2rem;
    margin-top: 0;
    font-family: var(--title);
    padding: 0 .5rem;
}

.subtittle {
    font-size: 1.5rem;
    margin-top: 0;
    font-family: var(--title);
    margin-bottom: .5rem;
}

.text {
    font-size: 1rem;
    font-family: var(--text);
    width: 100%;
}

.line-chart,
.scatter,
.scatter-desert,
.bar-negative-chart,
.line-population {
    position: relative;
    text {
        font-family: var(--text);
        font-size: 12px;
    }
    .line {
        fill: none;
        stroke-width: 3;
        stroke: #b60b46;
    }
    .axis-y {
        .domain {
            stroke: none;
        }
        line {
            stroke-dasharray: 3px;
        }
    }
    .legend-percentage {
        font-size: 14px;
        font-family: var(--text);
    }
}

.scatter-desert {
    .circle-desert {
        fill: #3b2462;
    }
}

.overlay {
    fill: transparent;
}

.tooltip {
    padding: .5rem;
    background-color: var(--white);
    border-radius: 2px;
    position: absolute;
    opacity: 1;
    box-shadow: var(--shadow);
    /* stylelint-disable */
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    /* stylelint-enable */
    .tooltip-deceased {
        font-size: 14px;
        font-family: var(--text);
        margin: .25rem;
        + p {
            display: none;
        }
    }
    &.tooltip-percentage {
        background-color: #181e3e;
        color: var(--white);
        border-radius: 0;
        box-shadow: none;
    }
}
.tooltip-number {
    font-weight: bold;
}

.scatter {
    .tooltip-citi,
    .tootlip-population,
    .tootlip-under,
    .tootlip-over {
        font-size: 14px;
        font-family: var(--text);
        margin: .25em;
        + p {
            display: none;

        }
    }
    .tooltip-citi {
        font-size: 1rem;
        font-weight: bold;
    }
}

.scatter-circles {
    fill: var(--scatter);
    fill-opacity: .6;
}

.line-negative {
    stroke: var(--line-negative);
    stroke-width: 3;
    fill: none;
}

.bar-negative {
    position: relative;
    .tooltip-year,
    .tooltip-born,
    .tooltip-deceased {
        font-size: 14px;
        font-family: var(--text);
        margin: .25em;
        + p {
            display: none;

        }
    }
    .tooltip-year {
        font-size: 1rem;
    }
}

.tooltip-percentage {
    .tooltip-number {
        font-size: 1rem;
    }
}

.tooltip-desert {
    position: absolute;
    .tootlip-population {
        color: var(--white);
        font-weight: normal;
    }
}

.bar-negative-chart {
    .negative {
        fill: #a01721;
    }
    .positive {
        fill: #090387;
    }
    .axis-x {
        text {
            font-size: 6px;
        }
    }
}

.lines {
    fill: none;
    stroke: #0e2153;
    stroke-width: 3px;
}

.tooltip-media-texto {
    font-family: var(--text);
    font-size: 14px;
}

select {
    display: inline-block;
    margin-right: .5rem;
}

.filter-button {
    border-radius: 4px;
    background-color: var(--project1txt);
    color: var(--white);
    padding: .75rem;
    border: 0;
    font-size: 10px;
    font-family: var(--fontSystem);
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-left: .5rem;
    box-shadow: var(--shadow);
    &:hover {
        background-color: rgba(149, 39, 71, .85);
        transition: background-color .3s ease-in;
    }
}

.filters {
    width: 100%;
    background-color: var(--white);
    padding: .5rem 1rem;
    border-radius: 2px;
    box-shadow: var(--shadow);
    font-size: 0;
    .ss-main .ss-single-selected {
        border: 0 !important;
        border-bottom: 1px solid var(--black) !important;
        border-radius: 0 !important;
        background-color: #f1f1f1 !important;
        margin-left: 0 !important;
    }
    .ss-main .ss-content {
        margin-left: 0 !important;
    }
}

.filter-element {
    display: inline-block;
    width: 50%;
}

.filters-title {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--text);
    margin: 0;
}

.filters-subtitle {
    font-size: 14px;
    font-weight: normal;
    font-family: var(--text);
    margin: .25rem;
    margin-left: 0;
}

@media only screen and (min-width: 48rem) {

    .filters {
        padding: 1rem;
    }

    .filter-element {
        width: initial;
        margin-right: .5rem;
    }

    .bar-negative-chart {
        .axis-x {
            text {
                font-size: 14px;
            }
        }
    }
    .line-chart,
    .scatter,
    .bar-negative-chart,
    .line-population {
        text {
            font-size: 14px;
        }
    }
}
