body {
    margin: 0;
    line-height: 1.4;
    color: var(--black);
    font-family: var(--text);
}

.container {
    background-color: #DDE8E0;
    font-size: 0;
}

.container-bgc {
    background-color: var(--bgc-teruel);
}

.container-chart {
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem 0;
}

.bold {
    font-weight: bold;
}

.labordeta {
    width: 100%;
    background-color: var(--white);
    padding: 5rem 0;
}

.labordeta-song {
    width: max-content;
    position: relative;
    margin: 0 auto;
    max-width: 15rem;
    display: block;
    &:before {
        content: '“';
        font-family: var(--title);
        font-size: 3rem;
        position: absolute;
        top: -1.5rem;
        left: -1.5rem;
    }
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 60vh;
}
