.section-image {
    height: 50vh;
    margin-top: 5rem;
    display: inline-block;
    vertical-align: middle;
}

.section-text {
    display: block;
    width: 30rem;
    vertical-align: middle;
    padding: 2rem 0 0;
    margin: 0 auto;
    .title {
        margin-bottom: .25rem;
    }
    .text {
        margin-top: .5rem;
        margin-bottom: 0;
    }
    .header-ronda {
        max-width: 20rem;
    }
}
