:root {
    --monospace: 'SFMono-Regular', Consolas, Menlo, Courier, monospace;
    --title: 'Playfair Display', serif;
    --text: 'Adamina', serif;
    --black: #111;
    --white: #fff;
    --background: #FBDED5;
}
