:root {
    --monospace: 'SFMono-Regular', Consolas, Menlo, Courier, monospace;
    --title: 'IBM Plex Serif', serif;
    --text: 'IBM Plex Sans Condensed', sans-serif;
    --titular: 'Playfair Display', serif;
}
