---
import BaseLayout from './Layout.astro';

const { title, descripcion, municipio, provincia } = Astro.props;
---

<BaseLayout title={title} descripcion={descripcion}>
  <article class="provincia-container">
    <div class="container-chart">
      <h1 class="title">{municipio}</h1>
      <p class="text">Provincia de {provincia}</p>

      <slot />
    </div>
  </article>
</BaseLayout>
